<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-pickup-call-card status="hold" updatedAt="03/08/2023 03:40:00" createdAt="03/07/2023 03:48:00" notes="we have two bags that are full, one with plastic and other with glasses"></app-pickup-call-card>
  <app-pickup-call-card status="processing" updatedAt="03/07/2023 03:40:00" createdAt="03/06/2023 03:48:00" notes="we have two bags that are full, one with plastic and other with glasses"></app-pickup-call-card>
  <app-pickup-call-card status="finished" updatedAt="03/04/2023 03:40:00" createdAt="03/02/2023 03:48:00" notes="we have two bags that are full, one with plastic and other with glasses" value="$ 45.99"></app-pickup-call-card>






</ion-content>
